* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #f2f2f2;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

body {
  background: #121212;
}

header {
  background-color: #1f1f1f;
  padding: 10px;
  width: 100%;
  height: 10.5rem;
}

header nav {
  display: flex;
  flex-direction: column;
}

header nav .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

header nav .logo img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

header nav .logo span {
  font-size: 1.5rem;
  color: orange;
  font-weight: bold;
  cursor: pointer;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: #f2f2f2;
}

.hero {
  color: #fff;
  text-align: center;
  padding: 50px 20px;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(to right, #72bc5d, #89bf4d, #a2c23c, #bcc32a, #d8c218, #ddc317, #e3c515, #e8c614, #d7cb22, #c7ce30, #b6d23f, #a6d44d);
  border-radius: 10px;
}

.hero h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.hero p {
  font-size: .9rem;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
  text-align: center;
}

.content-container {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-1,
.post-2 {
  display: flex;
  flex-direction: column;
  background: #1f1f1f;
  border: 1px solid #3b3b3b;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.post-content {
  padding: 5px 10px;
}

.post-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

.post-header h2 {
  font-size: 1rem;
  padding: 10px;
  color: #3e80e1;
  text-align: center;
}

.post-header span {
  font-size: 0.8rem;
  color: #988581;
  text-align: center;
}

.post-caption p {
  font-size: 0.9rem;
  padding: 10px;
  text-align: center;
}

.post-1 img,
.post-2 img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

aside {
  padding: 12px;
  background: #1f1f1f;
  border-radius: 10px;
  border: 1px solid #3b3b3b;
}

.sidebar-heading {
  font-size: 1.3rem;
  margin-bottom: 15px;
  color: rgba(253, 187, 45, 1);
}

.sidebar {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.sidebar-item {
  display: flex;
  gap: 10px;
}

.sidebar-item img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.sidebar-item p {
  font-size: 0.8rem;
}

footer {
  background: #1f1f1f;
  padding: 20px;
  color: #f2f2f2;
  border-top: 1px solid #3b3b3b;
  margin-top: auto;
}

footer p {
  text-align: center;
  font-size: 0.8rem;
  color: #988581;
  margin-top: 20px;
}

.footer-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-item h4 {
  color: #edad09;
}


/* Responsive Styling */
@media (min-width: 768px) {
  header nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  .nav-links {
    flex-direction: row;
    gap: 20px;
  }

  .hero {
    text-align: left;
    padding: 50px;
  }

  .content-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    padding: 30px 50px;
  }

  .article-container {
    flex: 3;
  }

  aside {
    flex: 1;
  }

  .post-1 img,
  .post-2 img {
    height: 200px;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

}

@media (min-width: 1024px) {

  .hero {
    border-radius: 0;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1.2rem;
  }

  .content-container {
    gap: 20px;
  }

  .post-header h2 {
    font-size: 1.2rem;
  }

  .post-caption p {
    font-size: 1rem;
  }

  .post-1, .post-2 {
    flex-direction: row;
    align-items: start;
  }

  .post-1 img, .post-2 img {
    width: 150px;
    height: 140px;
    border-radius: 0;
  }

  .post-header {
    align-items: start;
  }

  .post-header h2 {
    padding: 0;
  }

  .post-caption p {
    text-align: left;
    padding: 0;
    padding-bottom: 50px;
  }

  .post-content {
    padding: 20px 20px;
  }
}
